#app {

  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      z-index: 9;
      text-align: left;
      overflow: hidden;
      box-sizing: border-box;
      // border-bottom: 1px solid #525252;

      img {
        position: relative;
        top: 10px;
        display: inline-block;
        height: 32px;
        font-size: 12px;
        margin-right: 15px;
        margin-left: 20px;
      }

      .logo-txt {
        display: inline-block;
        font-size: 14px;
        color: #7a7a7a;
        font-weight: 500;
        // line-height: 28px;
        white-space: nowrap;
      }

      .separate {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-radius: 2px;
        // background: linear-gradient(to left,
        //   #ffb13d,
        //   #ff53af 34%,
        //   #9a73ea 68%,
        //   #5557f5);
        background-color: #262629;
        margin: 0 auto;
        margin-top: 10px;
      }
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      padding-top: 60px;
      box-sizing: border-box;

      .el-menu-item {
        height: 36px;
        line-height: 36px;
        color: #eee;
      }

      .el-submenu__title {
        height: 36px;
        line-height: 36px;
        color: #eee;
      }
    }
  }


  .openSidebar {
    .sidebar-container {
      .el-menu {
        padding-top: 60px;
      }

    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }

    .main-container {
      margin-left: 36px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }



    .logo {
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      text-align: center;

      img {
        height: 20px;
        transition: all .2 ease;
        margin: 0 auto;
      }

      .logo-txt {
        display: none;
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding-left: 10px !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }
}
