.el-select--mini {
  .el-input--mini .el-input__inner {
    height: 20px;
    line-height: 20px;
  }

  .el-input__icon {
    height: 14px;
  }

  .el-input__suffix {
    height: 14px;
    top: 3px;
  }

  .el-input--mini .el-input__icon {
    line-height: 14px;
  }

  .el-input__prefix {
    top: 4px;
    color: #343438;
  }

  .el-input__suffix-inner i {
    color: #343438 !important;
  }
}
.el-button--mini{
  border: 0;
  padding: 4px 12px;
}
.el-select-dropdown__item {
  font-size: 12px;
  height: 28px;
  padding: 0 10px;
}

.el-slider{
  .el-slider__runway{
    margin: 8px 0;
    height: 4px;
  }
  .el-slider__button{
    width: 10px;
    height: 10px;
  }

  .el-slider__bar{
    height: 4px;
  }
  .el-slider__button-wrapper{
    top: -16px;
  }
}
.el-button--text{
  color: #d3d0dc;
}

.el-input--mini .el-input__inner{
  height: 20px;
  line-height: 20px;
}
.el-notification{
  width: auto;
  padding: 14px;
  .el-notification__content{
    line-height: 0;
  }
}
